<!DOCTYPE html>
<html>

<head>
  <title>eShop</title>
</head>

<body>
  <div id="app">
    <header>
      <input id="search" v-model="search" v-on:input="searchHandler">
      <button class="cart-button" v-on:click="openCartHandler" type="button">Корзина {{ cart.length }}</button>
      <div v-if="isCartOpen">
        <ul>
          <li v-for="(good, index) in cart">{{good.title}} <button :data-index="index"
              v-on:click="removeCartHandler">-</button></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="goods-list">
        <p v-if="filtredGoods.length == 0">«Нет данных»</p>
        <div class="goods-item" v-for="(good, index) in filtredGoods">
          <h3>{{ good.title }} </h3>
          <p>{{ good.price }}</p>
          <button :data-index="index" v-on:click="addToCart">Добавить</button>
        </div>
      </div>
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script.js"></script>
</body>

</html>